
KOKKAK_SERVER__ADDR=
KOKKAK_SERVER__WORKERS=
KOKKAK_SERVER__PUBLIC_BASE_URL=
KOKKAK_LOG__FORMAT=
KOKKAK_AUTH__JWT_SECRET=
KOKKAK_AUTH__ISSUER=
KOKKAK_AUTH__ACCESS_TTL_SECS=
KOKKAK_AUTH__REFRESH_TTL_SECS=
KOKKAK_DATA_DIR__PATH=
KOKKAK_DATA_DIR__RESET_ON_STARTUP=
KOKKAK_DATABASE__SQLSERVER_URL=
# KOKKAK_DATABASE__MASTER_URL=
# KOKKAK_DATABASE__CATALOG_URL=
# KOKKAK_DATABASE__ORDER_URL=
# KOKKAK_DATABASE__PAYMENT_URL=
# KOKKAK_DATABASE__LOG_URL=
# KOKKAK_DATABASE__REPORT_URL=
# KOKKAK_DATABASE__TEMP_URL=
KOKKAK_DATABASE__POOL_SIZE=
KOKKAK_DATABASE__CONNECT_TIMEOUT_SECS=
KOKKAK_DATABASE__MIGRATIONS_DIR=
KOKKAK_REDIS__URL=
KOKKAK_REDIS__POOL_SIZE=
KOKKAK_NATS__URL=
KOKKAK_NATS__STREAM_PREFIX=
KOKKAK_MONGO__URL=
KOKKAK_MONGO__DATABASE=
KOKKAK_MIDDLEWARE__CORS_ALLOW_ORIGINS=
KOKKAK_MIDDLEWARE__REQUEST_TIMEOUT_SECS=
KOKKAK_MIDDLEWARE__COMPRESSION_ENABLED=
KOKKAK_MIDDLEWARE__RATE_LIMIT__ENABLED=
KOKKAK_MIDDLEWARE__RATE_LIMIT__BACKEND=
KOKKAK_MIDDLEWARE__RATE_LIMIT__REQUESTS_PER_SECOND=
KOKKAK_MIDDLEWARE__RATE_LIMIT__BURST_SIZE=
KOKKAK_MIDDLEWARE__REQUEST_BODY_LIMIT_BYTES=
KOKKAK_MIDDLEWARE__MAX_CONCURRENCY=
KOKKAK_MIDDLEWARE__IDEMPOTENCY__ENABLED=
KOKKAK_MIDDLEWARE__IDEMPOTENCY__TTL_SECS=
KOKKAK_MIDDLEWARE__IDEMPOTENCY__MAX_ENTRIES=
KOKKAK_ENVIRONMENT=
KOKKAK_TLS__ENABLED=
KOKKAK_TLS__CERT_PATH=
KOKKAK_TLS__KEY_PATH=
KOKKAK_TLS__REDIRECT_FROM_PORT=
KOKKAK_TLS__HSTS_MAX_AGE_SECS=
KOKKAK_TLS__AUTO_RELOAD=
KOKKAK_STORAGE__LOCAL_PATH=
KOKKAK_STORAGE__S3_BUCKET=
KOKKAK_STORAGE__S3_ENDPOINT=
KOKKAK_STORAGE__S3_REGION=
KOKKAK_STORAGE__S3_ACCESS_KEY=
KOKKAK_STORAGE__S3_SECRET_KEY=
KOKKAK_STORAGE__S3_PATH_STYLE=

KOKKAK_STORAGE__SIGNED_URL_SECRET=
KOKKAK_STORAGE__SIGNED_URL_TTL_SECS=
KOKKAK_IMAGE__MAX_INPUT_BYTES=
KOKKAK_IMAGE__MAX_DIMENSION_PX=
KOKKAK_IMAGE__WEBP_QUALITY=
